@tailwind base;
  @tailwind components;
  @tailwind utilities;


body{
  background-color: #F6F9FF;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #3e4c5e;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}